@import "tailwindcss";

@theme {
  --font-script: 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'Plus Jakarta Sans', sans-serif;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-white text-gray-800 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}